<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ensure.That" version="5.0.0" targetFramework="net451" />
  <package id="FluentAssertions" version="4.19.2" targetFramework="net451" />
  <package id="NUnit" version="2.6.3" targetFramework="net451" />
  <package id="System.Xml.Linq" version="3.5.21022.801" targetFramework="net451" />
</packages>